html {

}

body {
  border: 3px solid red;
}

header {
  height: 64px;
}

.logo {
  border: 3px solid green;
  float: left;
  height: 32px;
  margin-left: 24px;
}

nav {
  display: inline;
  float: right;
  margin-right: 24px;

}

nav a {
  text-decoration: none;
  color: black;
  padding: 0 16px;
}

.top-wrapper {
  background-color: #dbcece;
  height: 400px;
}

.top-one-banner img {
  width: 60%;
  height: 300px;
  margin: 32px 24px;
  float: left;
}

.top-section-one {
  position: relative;
  top: 100px;
}

.top-one-text {
  margin-bottom: 24px;
}

.top-one-button {
  position: absolute;
  background-color: gray;
  border: none;
  padding: 8px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  width: 20%;
}

.top-section-two {
  clear: both;
}

/* Colours */
.grey {
  background-color: #dbcece;
}
