html {

}

body {
  margin: 0 10% 0 10%;
}

/* Header Section */

header {
  height: 64px;
}

.logo {
  border: 3px solid green;
  float: left;
  height: 32px;
  margin-left: 24px;
}

nav {
  display: inline;
  float: right;
  margin-right: 24px;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 0 16px;
}

/* Top Section One */

.top-wrapper {
  background-color: #dbcece;
  display: flex;
}

.top-one-banner {
  flex: 60%;
  margin: 32px 24px;
}

.top-section-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 24px;
  flex: 40%;
  border: 1px solid red;
}

.top-one-text {
}

.top-one-button {
  background-color: gray;
  margin-top: 16px;
  padding: 8px;
  text-align: center;
  font-size: 16px;
  width: 50%;
}

.top-one-button a {
  text-decoration: none;
  color: white;
}

/* Top Section Two */

/* Column One */
.top-section-two {
  display: flex;
  border: 1px solid green;
}

.top-two-column-one {
  border: 1px solid green;
  margin: 32px 24px;
  flex: 60%
}

.top-two-image {
}

.top-two-text {
}

.top-two-text h3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.top-two-text p {
  margin-bottom: 32px;
}

/* Column Two */
.top-two-column-two {
  display: flex;
  flex: wrap;
  flex-direction: column;
  width: 40%;
  margin-top: 10px;
  border: 1px solid red;
}

.top-two-colum-two h5 {
  margin-bottom: 8px;
}

.top-two-column-two p {
  margin-bottom: 8px;
}

.orientation-row {
  flex: 60%;
  display: flex;
}

.orientation-img {
  flex: 35%;
  margin: 20px 30px 0 0;
  object-fit: contain;
  align-self: flex-start;
}

.orientation-text {
  flex: 65%;
  flex: 1 1 auto;
  margin-top: 30px;
}

.campus-row {
  flex: 60%;
  display: flex;
}

.campus-img {
  flex: 35%;
  margin: 20px 30px 0 0;
  object-fit: contain;
  align-self: flex-start;
}

.campus-text {
  flex: 65%;
  flex: 1 1 auto;
  margin-top: 30px;
}

.guest-row {
  flex: 60%;
  display: flex;
}

.guest-img {
  flex: 35%;
  margin: 20px 30px 0 0;
  object-fit: contain;
  align-self: flex-start;
}

.guest-text {
  flex: 65%;
  flex: 1 1 auto;
  margin-top: 30px;
}

/* Mid Section */

.mid-section {
  border: 1px solid green;
  background-color: #dbcece;
}

.mid-headline {
  text-align: center;
  margin: 32px 0;
  border: 1px solid red;
}

.images-container {
  margin: 0 72px 32px 72px;
  border: 1px solid green;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.image {
  width: 300px;
  text-align: left;
  margin: 0 32px 32px 0;
  border: 1px solid red;
  background-color: white;
}

.image h5 {
  padding: 16px 16px 0 16px;
}

.image p {
  padding: 8px 16px;
}

/* Bottom Section */
/* Column One */
.bottom-section {
  display: flex;
  border: 1px solid green;
}

.bottom-headline {
  margin: 32px 0;
  text-align: center;
}

.bottom-column-one {
  border: 1px solid green;
  margin: 32px 24px;
  flex: 60%
}

.bottom-video video {
  max-width: 100%;
}

.bottom-text h3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.bottom-text p {
  margin-bottom: 32px;
}

/* Column Two */
.bottom-column-two {
  display: flex;
  flex: wrap;
  flex-direction: column;
  width: 40%;
  margin-top: 10px;
  border: 1px solid red;
}

.bottom-column-two h5 {
  margin-bottom: 8px;
}

.bottom-column-two p {
  margin-bottom: 8px;
}

.fisma-row {
  flex: 40%;
  display: flex;
}

.fisma-img {
  flex: 35%;
  margin: 20px 30px 0 0;
  object-fit: contain;
  align-self: flex-start;
}

.fisma-text {
  flex: 65%;
  flex: 1 1 auto;
  margin-top: 30px;
}

.now-row {
  flex: 40%;
  display: flex;
}

.now-img {
  flex: 35%;
  margin: 20px 30px 0 0;
  object-fit: contain;
  align-self: flex-start;
}

.now-text {
  flex: 65%;
  flex: 1 1 auto;
  margin-top: 30px;
}

/* Colours */
.grey {
  background-color: #dbcece;
}
